.conda/*
.vscode/*
.draft.py
sources/images/*
run/*
videos/*
logs/*
.idea/*
sources/logs/*
*.pyc
broom5l_11.pt
datasets/*
images/*
archives/*
.venv/*
models/*
assets/digital-twin-single_v1.0.1/*
assets/digital-twin-single_v1.0.1.zip
assets/aruco_qr.psd
branch/Wallpaper/*
**/images/*
**/media/*